 .root{
     -fx-background-color: #333333;
     -fx-font-family: "Arial";
 }

 #backButton{
     -fx-background-color: transparent;
     -fx-background-image: url('../icons/whiteIcons/backButton.png');
     -fx-background-size: 30px 30px;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;

     -fx-border-color: #ffffff;
     -fx-border-radius: 5px;
 }

 #backButton:hover{
     -fx-border-color: #e94033;
     -fx-background-image: url('../icons/redIcons/backButtonInRed.png');
 }

 #backButton:selected{
     -fx-background-image: url('../icons/blackIcons/backButton.png');

     -fx-border-color: #000000;
 }

 #backButton:selected:hover{
     -fx-border-color: #e94033;
     -fx-background-image: url('../icons/redIcons/backButtonInRed.png');
 }

 #themeButton{
     -fx-background-color: transparent;
     -fx-background-image: url('../icons/whiteIcons/lightMode.png');
     -fx-background-size: 30px 30px;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;

     -fx-border-color: #ffffff;
     -fx-border-radius: 5px;
 }

 #themeButton:hover{
     -fx-border-color: #e94033;
     -fx-background-image: url('../icons/redIcons/lightmodeInRed.png');
 }

 #themeButton:selected{
     -fx-background-image: url('../icons/blackIcons/darkMode.png');

     -fx-border-color: #000000;
 }

 #themeButton:selected:hover{
     -fx-border-color: #e94033;
     -fx-background-image: url('../icons/redIcons/darkmodeInRed.png');
 }

 #username{
     -fx-font-family: "Arial";
     -fx-font-size: 12px;
 }

 #title{
     -fx-alignment: CENTER;
     -fx-text-alignment: CENTER;
     -fx-font-family: "Arial";
     -fx-font-size: 25px;
     -fx-font-weight: BOLD;
     -fx-fill: #ffffff;
 }

 .label{
     -fx-font-family: "Arial";
     -fx-font-size: 15px;
     -fx-text-fill: #ffffff;
 }

 Text{
     -fx-font-family: "Arial";
     -fx-font-size: 15px;
     -fx-fill: #ffffff;
 }

 .text-field{
     -fx-background-color: transparent;
     -fx-font-size: 14px;
     -fx-text-fill: #ffffff;
     -fx-padding: 1,1,1,1;
     -fx-border-style: hidden hidden solid hidden;
     -fx-border-width: 1.5px;
     -fx-border-color: #ffffff;
 }

 .text-field:focused{
     -fx-border-width: 1.5px;
     -fx-border-color: #e94033;
 }

 .button{
     -fx-font-family: "Arial";
     -fx-font-size: 13;
     -fx-pref-height: 30px;
     -fx-background-color: #e94033;
     -fx-text-fill: #ffffff;
     -fx-border-radius: 1px;
 }

 .button:hover{
     -fx-background-color: #b53127;
 }

 .button:pressed{
     -fx-background-color: #ffffff;
     -fx-border-color: #e94033;
     -fx-text-fill: #e94033;
 }

 #logoutButton{
     -fx-pref-height: 20px;
     -fx-pref-width: 60px;
 }